body{
    background-image: url(img/christmas_2012-new_2344.jpg);
    background-size: 750px auto;
    font-family:'Times New Roman', Times, serif;
}   

.regform{
    width:500px ;
    margin:100px auto;
    padding:10px;
    background-color: rgba(0,0,0,0.3);
    color:rgb(225, 225, 225);
    font-size:25px;
    border-radius:10px;

    
}

.regform h3{
    text-align:center;
    color:#eeeff5;
}

.regform .textlabel{
    display:contents;
}

.input input{
    width:100%;
    font-size:1.2em;
    border: 1px solid #000000;
    box-shadow:2px;
    border-radius: 8px;
    padding: 10px 10px;
    box-sizing:border-box;
    margin:15px 0px 15px;
}

input:focus{
    background-color: #f6f6f6;
}

.btn{
    text-align: center;
}

button{
    background-color: #f6f6f6;
    font-size:30px;
    color:rgb(1, 1, 1);
    margin-top:20px;
    padding:15px 25px;
    border-radius:8px;
    border: 1px solid #050606;
    box-shadow:2px;
}

.radio input{
    accent-color: #cae5e2;
    transform:scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
}
